{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Sex</th>
        <th scope="col">Age</th>
        <th scope="col">Height</th>
        <th scope="col">Weight</th>
    </tr>
    </thead>
    <tbody>
    {% for person in people %}
    <tr>
        <td><a href="view/{{person.id}}">{{ person.Name }}</a></td>
        <td>{{ person.Sex }}</td>
        <td>{{ person.Age }}</td>
        <td>{{ person.Height }}</td>
        <td>{{ person.Weight }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}