{% extends "layout.html" %}
{% block content %}
<form action="/people/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="Name">Person Name</label>
            <input id="Name" type="text" class="form-control" placeholder="Person Name" name="Name">
        </div>
        <div class="col">
            <label for="Age">Person Age</label>
            <input id="Age" type="text" class="form-control" placeholder="Person Age" name="Age">
        </div>
        <div class="col">
            <label for="Sex">Person Sex</label>
            <input id="Sex" type="text" class="form-control" placeholder="Person Sex" name="Sex">
        </div>
        

    </div>

    <div class="row">
        <div class="col">
        <div class="col">
            <label for="Height">Person Height</label>
            <input id="Height" type="text" class="form-control" placeholder="Person Height" name="Height">
        </div>
            <label for="Weight">Person Weight</label>
            <input id="Weight" t ype="text" class="form-control" placeholder="Person Weight"
                   name="Weight">
        </div>


    </div>

    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}

