{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ person.fldName }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ person.Age }}</li>
        <li class="list-group-item">{{ person.Sex }}</li>
        <li class="list-group-item">{{ person.Height }}</li>
        <li class="list-group-item">{{ person.Weight }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{person.id}}" class="card-link btn btn-primary">edit</a>
    </div>
</div>
<form action="/delete/{{person.id}}" method="post"><button type="submit" class="btn btn-danger">Save</button></form>


{% endblock %}

